.title {
    text-shadow: 2px 2px 0 black;
}

.logo-inline {
    font-family: 'Baumans', cursive;
}

.frosted-glass {
    background-color: rgba(255, 255, 255, 0.2);
    backdrop-filter: blur(16px);
    color: white;
}

.card {
    border-radius: 1rem 1rem 0.5rem 0.5rem;
}

.question-line {
    transition: all 500ms ease;
}

.progress.is-small {
    height: 0.5rem;
    opacity: 0.8;
    border-radius: 0 0 0.5rem 0.5rem;
}

hr {
    height: 2px;
    opacity: 0.45;
    margin-top: 0;
}

.final-price {
    font-size: 130%;
}

.final-price-badge {
    font-weight: bold;
    padding: 0.5rem;
    border-radius: 10px;
}

.reload-button {
    border: none;
    color: white;
    background-color: transparent;
    opacity: 0.7;
}

.reload-button:hover {
    color: white;
    opacity: 1;
}
